.git/
_build/
deps/
*.ez
erl_crash.dump
/assets/node_modules/
*.env
.env.*
!.env.example
*.db
*.db-*
*.csv
/csv_data/
/data*/
.elixir_ls/
.iex.exs
.DS_Store
.idea/
.vscode/
*.swp
/cover/
/doc/
test/
Dockerfile*
docker-compose*
.dockerignore
*.md
!README.md
LICENSE*
